[submodule "lib"]
	path = lib
	url = https://github.com/glscopeclient/scopehal.git
[submodule "doc"]
	path = doc
	url = https://github.com/glscopeclient/scopehal-docs.git
[submodule "src/imgui"]
	path = src/imgui
	url = https://github.com/ocornut/imgui
[submodule "src/implot"]
	path = src/implot
	url = https://github.com/epezent/implot
[submodule "src/imgui-node-editor"]
	path = src/imgui-node-editor
	url = https://github.com/glscopeclient/imgui-node-editor.git
[submodule "src/ImGuiFileDialog"]
	path = src/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog
[submodule "src/nativefiledialog-extended"]
	path = src/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended
